<header>
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="flex-grow-1">
        <a routerLink="/" class="logo" aria-label="Home">
          <img
            src="../../assets/bookio-logo.svg"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          <span class="bookio-text"> Bookio - the online bookstore </span>
        </a>
      </div>
      <div class="float-right p-3">
        <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
            <button (click)="logout()" ngbDropdownItem>Logout</button>
          </div>
          <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
            <img class="account-icon" src="../../assets/avatar.png" />
            {{ username }}
          </button>
        </div>
        <div *ngIf="!isLoggedIn">
          <a routerLink="/signup" class="float-right sign-up mr-2">Sign up</a>
          <a routerLink="/login" class="float-right login mr-2">Login</a>
        </div>
      </div>
    </nav>
  </div>
</header>
