<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="flex-grow-1">
        <a routerLink="/" class="logo" aria-label="Home">
          <img
            src="../../assets/bookio-logo.svg"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          <span class="bookio-text"> Bookio - the online bookstore </span>
        </a>
      </div>
      <div class="float-right p-3">
        <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
            <button (click)="logout()" ngbDropdownItem>Logout</button>
          </div>
          <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
            <img class="account-icon" src="../../assets/avatar.png" />
            {{ username }}
          </button>
        </div>
        <div *ngIf="!isLoggedIn">
          <a routerLink="/signup" class="float-right sign-up">Sign up</a>
          <a routerLink="/login" class="float-right login">Login</a>
        </div>
      </div>
    </nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/" class="navbar-brand" aria-label="Home">
    <img
      src="../../assets/bookio-logo.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    <span class="bookio-text"> Bookio - the online bookstore </span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse d-flex flex-row-reverse"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item d-flex align-items-center">
        <a
          class="nav-link"
          [routerLink]="['/cart']"
          routerLinkActive="router-link-active"
          >Cart<i class="fas fa-shopping-cart"></i
        ></a>
      </li>
      <div *ngIf="isLoggedIn" ngbDropdown class="float-right d-flex">
        <li class="nav-link" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="profile" (click)="goToUserProfile()" ngbDropdownItem>
            Profile
          </button>
        </li>
        <li class="nav-link" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="logout" (click)="logout()" ngbDropdownItem>
            Logout
          </button>
        </li>
        <li class="nav-link">
          <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
            <img class="account-icon" src="../../assets/avatar.png" />
            {{ username }}
          </button>
        </li>
      </div>

      <div *ngIf="!isLoggedIn" class="d-flex">
        <li class="nav-link">
          <a routerLink="/signup" class="float-right sign-up">Sign up</a>
        </li>
        <li class="nav-link">
          <a routerLink="/login" class="float-right login">Login</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
